  <main>
  <!-- section -->
  <div class=" mt-8 mb-lg-14 mb-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row gx-10">
        <section class="col-lg-12 col-md-12">
          <!-- card -->
          <div class="card mb-4 bg-light border-0">
            <!-- card body -->
            <div class=" card-body p-9">
              {{!-- <h2 class="mb-0 fs-1">{{categoryName}}</h2> --}}
            </div>
          </div>
          <!-- list icon -->
          <div class="d-lg-flex justify-content-between align-items-center">
            <div class="mb-3 mb-lg-0">
              {{!-- <p class="mb-0"> <span class="text-dark">{{totalProducts}}</span> Products found </p> --}}
            </div>
            </div>
          </div>
          <!-- row -->
          <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
            {{#each categoryProducts}}
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center position-relative ">
                    <div class=" position-absolute top-0 start-0">
                    </div>
                    <a href="/product/{{name}}/{{_id}}">
                      <img src="/admin/images/products/{{thumbnail_image}}" alt="{{name}}" 
                      class="mb-3 img-fluid"></a>
                  </div>
                  
                  <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">{{name}}</a></h2>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div><span class="text-dark">₹ {{price}}</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="row mt-8">
            <div class="col">
                     <!-- nav -->
              <nav>
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link  mx-1 rounded-3 " href="#" aria-label="Previous">
                      <i class="feather-icon icon-chevron-left"></i>
                    </a>
                  </li>
                  <li class="page-item "><a class="page-link  mx-1 rounded-3 active" href="">{{currentPage}}</a></li>
                  {{!-- <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">2</a></li>

                  <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">...</a></li>
                  <li class="page-item"><a class="page-link mx-1 rounded-3 text-body" href="#">12</a></li>
                  <li class="page-item"> --}}
                    <a class="page-link mx-1 rounded-3 text-body"  href="/category/Fruits/63cf72e100c8cc3bdeac2f98?page={{nextPage}}" aria-label="Next">
                      <i class="feather-icon icon-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>

<script>

</script>